#nithya agent
rapidfuzz
google-generativeai



grpcio
grpcio-status

python-dotenv
numpy

langchain
langchain-core
langchain-google-genai
langchain-community 
duckduckgo-search
langchain-google-genai 
google-generativeai 
langchain-core

google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

streamlit
streamlit_autorefresh
ddgs

reportlab
plotly
vadarSentiment